<div class="left-section">
    <div class="container"><br>
          <br>
          <h2>Reset Password</h2><br><br>
          <form action="#" method="POST">
              <div class="Password">
                  <label for="exampleInputEmail1" class="form-label">Enter New Password</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter New Password">
              </div>
              <br>
              <div class="New Password">
                <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirm Password">
            </div>
              
      
          </form>
         
          
  <br><br>
          <div class="button">
              <!-- <button>Register</button> -->
              <p><a href="Login" class="btn btn-primary">Change Password</a></p>
          </div>
      </div>
  </div>
  
  <div class="right-section">
      <pre class="dontworry">Don't worry 
      We'll help you</pre> 
      <img src="../assets/searching.png" class="left-image">
  
  </div>