
<div class="container">
  <div class="image-container">
   
    <img src="../assets/Rectangle 26.png">
  </div><br>

  <div class="form-container">
    <form action="/submit_login" method="post">
      <h1>Welcome</h1><br>

      <div class="Login-with-Email">
      Login with Email</div>
      <br><br>

      <label for="email_id">Email Id</label><br>
      <input type="text" id="email_id" name="email id" placeholder="Email Id"><br>
      
      
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required placeholder="Enter Password"><br>
      <br>
      <div class="Login">
        
        <p><a href="HomePage" class="btn btn-primary">Login</a></p>
      </div>
    </form>
      <div class = "Forgot-Password">
        <p><a href="ForgotPassword" >forgot your password?</a></p>
    </div>
    
      <br>


      
    <div class="text-with-lines">
  <hr class="left-line">
  <span class="centered-text">OR</span>
  <hr class="right-line">
</div><br>
<div class="Dont-have-account">Don't have an account?<a href="Registration">Register Now</a></div>
  </div>
</div>


