<div class="left-section">
    <!-- Content for the left section goes here -->
    <!-- <img src="../assets/verification.png"  class="left-image">  -->

    <div class="container"><br>
        <br>
        <h2>Verification</h2>
        <form action="#" method="POST">


            <br>
            <br>


            <div class="info">
                We Will send you a one time OTP on
                this Email ID</div>
            <br>


            <div class="mail">
                <label for=" p**********@gmail.com"> p**********@gmail.com</label>
            </div>
            <br>
        </form>

        <input type="text" class="circle-input" maxlength="1">
        <span style="margin-right: 20px;"></span>
        <input type="text" class="circle-input" maxlength="1">
        <span style="margin-right: 20px;"></span>
        <input type="text" class="circle-input" maxlength="1">
        <span style="margin-right: 20px;"></span>
        <input type="text" class="circle-input" maxlength="1">
        <br>
        <br>
        <br>
        <div class="resend">
            <p><a href="ForgotPassword" class="btn-primary">Resend OTP</a></p>
        </div>

        <div class="button">
            
            <p><a href="ResetPassword" class="btn btn-primary">Submit</a></p>
        </div>
    </div>
</div>

<div class="right-section">
    <pre class="dontworry">Don't worry 
    We'll help you</pre> 
    <img src="../assets/searching.png" class="left-image">

</div>