.body {
    font-family: Arial, sans-serif;
    // background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
    align-content: center;
}

 .left-section{
        width: 70%;
        float: left;
        height: 50%;
        text-align: center;
        // background-color: #f0f0f0; /* Adjust as needed */
    }
      
 .right-section {
        width: 30%;
        float: right;
    
      }
  .container {
        width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
         align-content: center;
         float: center;
         height: 50%;
         text-align: center;
         top: center;
         
      }
      

 

.resend{
    color: #1b1eff;
    margin-left: 550px;
}
// .button {
//     width: 100%;
//     padding: 82px;
//     color: #fff;
//     border: none;
//     border-radius: 3px;
//     cursor: pointer;
//   }
    
  .left-image {
    width: 363px;
    margin: 4px;
    margin-right: 14px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px px rgba(0, 0, 0, 0.1);
    height: 360px;
    float: right;
  }
//   .info p{
//     font-size: 10;
//   }
  .dontworry{
    font-size: xx-large;
    margin:0%;
    margin-right: 14px;
    margin-top: 130px;
    
  }
  .Emailinput {
    font-size: 18px; 
    width: 50%;
    margin-right: 14px;
    text-align: calc(100% - 40px);
  }
  .Emailinput1{
    font-size: 18px; 
    width: 50%;
    text-align: center;
  }
//   .p{
//     width: 50%;
//      text-align: right; 
    
//   }

.form-label{
 margin-left:-80%;
}
  