<div class="left-section">
  <div class="container"><br>
        <br>
        <h2>Forgot Password</h2><br><br>
        <form action="#" method="POST">
            <div class="Email">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
            </div>
            
    
        </form>
       
        <br>
        <div class="resend">
            <a href="Login">Back to Login</a>
        </div>
<br>
        <div class="button">
            <!-- <button>Register</button> -->
            <p><a href="Verification" class="btn btn-primary">Submit</a></p>
        </div>
    </div>
</div>

<div class="right-section">
    <pre class="dontworry">Don't worry 
    We'll help you</pre> 
    <img src="../assets/searching.png" class="left-image">

</div>